{
	"useTabs": false,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 120,
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"semi": true,
	"singleAttributePerLine": false,
	"svelteAllowShorthand": false,
	"svelteBracketNewLine": false,
	"svelteIndentScriptAndStyle": false,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
